/* General */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%
}

body {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    width: 76%;
    height: 850px;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 15px;
    padding-bottom: 40px;
}

.image-container {
    padding: 20px;
    width: 800px;
    height: calc(100% - 300px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.image-workspace {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-workspace span {
    position: absolute;
    font-size: 30px;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.preview-container {
    border: 2px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 570px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-cover {
    overflow: hidden;
}

.preview-container span {
    position: absolute;
    top: 66px;
    left: 220px;
}

/* other stuff */

footer {
    position: block;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
}

.hidden {
    display: none;
}