@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: trajan-pro-regular;
  src: url(src/assets/fonts/Trajan.otf) format(opentype);
}

@font-face {
  font-family: eurostileextended-roman-dtc-regular;
  src: url(src/assets/fonts/EurostileExtended-Roman.otf) format(opentype);
}

@font-face {
  font-family: eurostileBold;
  src: url(src/assets/fonts/EurostileBold.ttf) format(truetype);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
